IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#MainButton{
  display: block;
 background: #blue;
 	border-color:#2a2d36;
	margin-top: 3%;
}
#MainButton1{
  display: block;
 background: #blue;
 	border-color:#2a2d36;
	margin-top: 3%;
}
